.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.svg-icon {
  width: 300px;
  height: auto;
  margin-bottom: 5rem;
}

h1 {
  font-size: 1.5rem;
  align-items: start;
}

.KakaoButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 1rem;
}

.kakaoBtnImage {
  width: 100%;
  height: auto;
}
