@import "../../styles/variables.scss";

.editProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;

  .profileImage {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-right: 1.25rem;
    object-fit: cover;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .inputField {
    width: 100%;

    label {
      font-size: 1.5rem;
      color: $color-black;
      font-weight: bold;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.5rem;
      font-size: $font-size-md;
      color: $color-black;
      background-color: $color-lightGray;
      border-radius: 4px;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;

      &:focus {
        border-color: $color-green;
        outline: none;
      }
    }

    textarea {
      resize: none;
      height: 40px;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      width: 48%;
    }
  }
}

.locationSelect {
  display: flex;
  gap: 10px;
}
