.imageContainer {
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.blur {
  filter: blur(10px);
  transition: filter 0.3s ease;
}
