@import './variables.scss';

/* 글꼴 크기 조정 방지 : 1rem = 16px 설정 */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 100%;
}

/* reset.scss 공통 요소 초기화 */
%reset-common {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: $font-size-md;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: $font-family-pretendard;
  color: $color-black;
}

/* 초기화할 HTML 요소 목록 */
html,
body,
*,
*::before,
*::after {
  @extend %reset-common;
}

/* 목록 스타일 제거 */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* blockquote, q 요소 기본 스타일 제거 */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

/* 테이블 기본 스타일 설정 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 버튼 기본 스타일 제거 */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  /* 포커스 시 외곽선 제거 */
}

/* 추가적인 요소 초기화 */
body,
p,
h1,
h2,
h3,
h4 {
  margin-block-end: 0;
  /* 블록 끝 마진 제거 */
}

/* 클래스가 없는 a 요소의 기본 스타일 설정 */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
  /* 기본 텍스트 장식 제거 */
}

/* 이미지 관련 기본 스타일 설정 */
img,
picture {
  max-width: 100%;
  height: auto;
  /* 이미지 비율 유지 */
  display: block;
}

/* textarea 요소의 기본 스타일 설정 */
textarea:not([rows]) {
  min-height: 10em;
}

/* 고정된 항목에 여분의 스크롤 여백 추가 */
:target {
  scroll-margin-block: 5rem;
}