/* Colors */
$color-white : #FFFFFF;
$color-black: #232323;
$color-green: #206A5D;
$color-apricot: #FFC090;
$color-lightPurple: #D9D7F1;
$color-red: #FB3D40;
$color-lightGray: #F2F2F2;
$color-darkGray: #5F5F68;

/* Font Sizes */
$font-size-xs: 0.5625rem; // 9px
$font-size-sm: 0.75rem; // 12px
$font-size-md: 1rem; // 16px
$font-size-rg: 1.125rem; // 18px
$font-size-lg: 1.5rem; // 24px
$font-size-xl: 2rem; // 32px

/* Font Styles */
$font-family-ohsquare: 'Cafe24Ohsquare';
$font-family-pretendard : 'Pretendard-Regular';