@import "../../../styles/variables.scss";
@import "../../../styles//reset.scss";

.button {
  font-family: $font-family-pretendard;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 0.5rem;

  &.active {
    background-color: $color-green;
    color: $color-lightGray;
  }

  &.inactive {
    background-color: $color-lightGray;
    color: $color-darkGray;
  }
}
