@import '../../styles/variables.scss';

.wrap {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: $color-lightGray;

  .icon {
    width: 2.5rem;
  }
}