@import "../../styles/variables.scss";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $color-lightGray;
}

.header.mainHeader,
.header.profileHeader {
  .leftWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: $font-size-lg;
  }
}

.detailHeader,
.writeHeader,
.chatHeader {
  .iconBack {
    width: 2rem;
    height: 2rem;
  }
}

.writeHeader {
  button {
    font-size: $font-size-lg;
  }
}

.chatHeader {
  span {
    font-weight: bold;
    font-size: $font-size-lg;
  }
}
